/* Config site global */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
	font-family: 'Rubik', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #243449;
}

/* Body, Header, Footer*/

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 12%;
	
}




/* Button DarkMode*/
 

/* Nav igation BAR */


li, a{
	font-weight: 573;
	font-size: 18px;
	color: #FFFFFF;
}

.avatar{
	max-width: 100%;
	width: 7%;
	height: auto;
	cursor: pointer;
}

.navbar ul{
	display: flex;
	list-style: none;
}

.navbar ul li{
	padding: 25px;
}

.navbar li {
	display: inline;
	padding: 0px 37px;
}

.navbar li a {
	transition: all 0.5s ease 0s;
	text-decoration: none;
	color: white;
	font-weight: 593;
	font-size: 18px;

}

.navbar li a:hover {
	padding: 9px 25px;
	border: none;
	border-radius: 800px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #0088a9;
	transition: all 0.8s ease 4;
}


/* Animation typing */

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem;
}

.wrapper .static-txt{
  color: #fff;
  font-size: 75px;
  font-weight: 200;

}
.wrapper .dynamic-txts{
  margin-left: 40px;
  height: 82px;
  line-height: 75px;
  overflow: hidden;

}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 65px;
  font-weight: 200;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;

}
@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #243449;
  border-left: 3px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  35%, 45%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}


/* Animation typing */


.btn-explore{
	cursor: pointer;
	padding: 95px;
	display: flex;
	justify-content: center;
}

.btn-explore #btn{
	font-size: 35px;
	text-decoration: none;
	display: inline-block;
	border: none;
	border-radius: 40px;
	background-color: white;
	background-size: 5em;
	color: #0088a9;
}

.sec{
	position: relative;
	padding: 100px;
	background-color: #1c293a;
}

.sec h2{
	font-size: 16px;
	margin-bottom: 10px;
	color: #FFF;
}

.sec p{
	font-size: 20px;
}




























/* Style index.html*/



/*button{
	font-weight: 800;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}

button:hover{
	background-color: #FFFFFF;
	color: #0088a9;
	transition: all 0.2s ease 2;
} */



/*

nav.gui-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}


nav.gui-nav ul li.btn a{
	color: #FFFFFF;
	text-decoration: none;
	font: italic small-caps bold 16px/2 cursive;
	font-size: 35px;
	text-align: center;
	margin: 30px;
}


nav.gui-nav ul li.btn:hover a{
	color: #8138F9;
	transition: all 0.5s ease-out;
}
*/



/*p.welcome{
	color: #8138F9;
	background-color: #FFFFFF;
}



h1.headline{
	color: #a15dfa;
	font-size: 124px;
	text-align: center;
	border: solid;
	border-color: #FFFFFF;
	
}
*/